ibdata1
ib_logfile0
ib_logfile1
aria_log.00000001
aria_log_control
ib_buffer_pool
ibtmp1
multi-master.info
*.log
./mariadb/phpmyadmin/*
./mariadb/performance_schema/*
./mariadb/mysql/*
*.frm
*.ibd
*.opt
*.MYD
*.MYI
*.CSM
*.CSV